.wallpaperDark{
    background-image: url(../../img/wallpaper-dark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wallpaperLight{
    background-image: url(../../img/wallpaper-light.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}